@media screen and (min-width: 320px) {

}

@media screen and (min-width: 768px) {

}

@media screen and (min-width: 1024px) {

}

.about {
	padding: 70px 0;
	text-align: center;
	background: #fff6ff;
	margin-bottom: 50px;
}

.about p {
	padding: 0 15vw;
	margin: 0;
	color: rgb(104, 5, 104);
	font-size: 1.2em;
}

.about h2 {
	margin-top: 0;
	color: rgb(104, 5, 104);
}

#home-carousel {
	border: 2px solid rgb(104, 5, 104)
}
