<div class="header-section container">
	<h2 class="section-title hidden-md hidden-lg">Recommended</h2>
	<div class="row">
		<div class="col-md-6 col-lg-8 col-xs-12" id="home-carousel">
			<div uib-carousel active="active" interval="3000" no-wrap="noWrapSlides" class="carousel slide">

				<div uib-slide ng-repeat="carouselItem in vm.carouselContainer"
					 index="$index">
					<!-- Show Article -->
					<a href="/article/view/{{carouselItem.slug}}" title="{{carouselItem.slug}}" ng-if="carouselItem.articleCoverImage">
						<img class="header-section-img" ng-src="{{carouselItem.articleCoverImage.secure_url}}"
							 alt="{{carouselItem.slug}}">
						<!-- Galleries have images within the object, this is used as an indicator to distinguish from galleries and articles-->
						<h3 class="arti-carousel-title">{{carouselItem.title}}</h3>
					</a>

					<!-- Show Galleries-->
					<a href="/gallery/view/{{carouselItem.slug}}" ng-if="carouselItem.images.length > 0" title="{{carouselItem.slug}}">
						<!-- Galleries have images within the object, this is used as an indicator to distinguish from galleries and articles-->
						<img class="header-section-img" ng-if="carouselItem.images.length > 0"
							 ng-src="{{carouselItem.images[0].secure_url}}" alt="{{carouselItem.slug}}">
						<h3 class="arti-carousel-title">{{carouselItem.title}}</h3>
					</a>
				</div>
			</div>

		</div>

		<div class="col-md-6 col-lg-4 hidden-xs header-section-right">
			<webpisodes></webpisodes>
		</div>

		<br><br>
	</div>

</div>

<div class="sub-article-list row hidden-xs">

	<!-- TODO: Rename this component to latest article or something related to its functionality -->
	<sub-article-list></sub-article-list>
</div>

<div class="row article-listing">
	<div class="col-sm-8 col-xs-12">
		<div class="left-listing">
			<articles section=vm.articleSection></articles>
		</div>
	</div>

	<div class="col-sm-4 col-xs-12 right-listing">
		<advert></advert>
	</div>

</div>

<div class="about hidden-xs">
	<h2>About Us</h2>
	<p>MoChunks TV is an innovative online tv channel featuring chunks of lifestyle,
		fashion,
		entertainment and relationships.</p>
	<br>
	<a href="/aboutPage" title="about" class="button-it">Read More</a>
</div>

<br><br>
