<div class="below-box">
	
	<!-- Display latest articles for selected sections--> 
	<div class="small-below" ng-repeat="article in vm.latestArticles track by section._id">
		<div></div>
		<h5>{{article.section}}</h5>
		<h4>{{article.title}}</h4>
		<p>{{article.publishedDate}}</p>
		<a href="/#!/article/view/{{article._id}}">View post</a>
	</div>
	
	<div class="us-below">
		<a href="#/!"><h1>MoChunks TV</h1></a>
		<div>
			<a href="https://www.facebook.com/mo.chunkaay" target="_blank"
			   class="fa fa-facebook-square fa-2x facebook"></a>
			<a href="https://www.youtube.com/user/TwigaayAndChunkaay" target="_blank"
			   class="fa fa-youtube-square fa-2x youtube"></a>
			<a href="https://www.instagram.com/mochunks/" target="_blank" class="fa fa-instagram fa-2x instagram"></a>
			<a href="https://twitter.com/mochunks?lang=en" target="_blank"
			   class="fa fa-twitter-square fa-2x twitter"></a>
		</div>
		<p>MoChunks is a creative lifestyle site with a powerful mix of ideas and online media. Lorem ipsum dolor sit
			amet, consectetur adipisicing elite</p>
	</div>
</div>
