<h2>{{vm.gallery.title}}</h2>

<p ng-if="vm.gallery.content">{{vm.gallery.content}}</p>

<div uib-carousel active="active" interval="3000" no-wrap="noWrapSlides" class="carousel slide">
	<div uib-slide ng-repeat="image in vm.images" index="$index">
		<img ng-src="{{image.secure_url}}" alt="vm.gallery.caption" width="50%" height="50%">
	</div>
</div>
<h3 ng-if="vm.gallery.caption">{{vm.gallery.caption}}</h3>


<div ng-if="vm.gallery.youtubeVideoUrl">
	<iframe id="player" type="text/html" width="640" height="390"
			src="{{vm.video}}"
			frameborder="0"></iframe>
</div>
