<div class="apvh-page row">
	<div class="col-sm-8">
		<h1>{{vm.article.title}}</h1>
		<h2 class="article-text">{{vm.article.description}}</h2>
		<!-- First Image-->
		<img ng-if="vm.article.firstArticleImage" class="img-responsive"
			 src={{vm.article.firstArticleImage.secure_url}} alt="{{vm.article.title}}">
		<!-- First Section-->
		<div class="article-text" ng-if="vm.article.firstsection" ng-bind-html="vm.article.firstsection"></div>
		<!-- Second Image-->
		<div class="row" ng-if="vm.article.secondArticleImage.secure_url">
			<img class="img-responsive" src={{vm.article.secondArticleImage.secure_url}} alt="{{vm.article.title}}">
		</div>
		<!-- Second Section-->
		<div class="article-text" ng-if="vm.article.secondsection" ng-bind-html="vm.article.secondsection"></div>
		<!-- Third Image-->
		<div class="row" ng-if="vm.article.thirdArticleImage.secure_url">
			<img class="img-responsive" src={{vm.article.thirdArticleImage.secure_url}} alt="{{vm.article.title}}">
		</div>
		<!-- Third Section-->
		<div class="article-text" ng-if="vm.article.thirdsection" ng-bind-html="vm.article.thirdsection"></div>

		<div class="row" style="margin-top:20px; margin-bottom:20px">
			<div class="embed-responsive embed-responsive-16by9" ng-if="vm.article.youtubeVideoUrl">
				<iframe class="embed-responsive-item" id="player" type="text/html"
						src="{{vm.video}}"
						frameborder="0"></iframe>
			</div>
		</div>

		<div class="sub-article-list hidden-xs">
			<sub-article-list></sub-article-list>
		</div>

	</div>

	<div class="col-sm-4" style="padding-top: 3.5em;">
		<div class="right-listing">
			<advert></advert>
		</div>
		<webpisodes></webpisodes>
	</div>

</div>
