<div class="section-title">Latest Articles</div>
<hr>
<a href="/#!/article/view/{{article._id}}" ng-repeat="article in vm.listedArticles" ng-if="vm.listedArticles.length > 0">
	<div class="row article-home-block">
		<img class="col-sm-6" src="{{article.firstArticleImage.secure_url}}" alt="{{article.title}}">
		<div class="col-sm-6">
			<h3>{{article.title}}</h3>
			<h6>{{article.publishedDate | date: 'MM/dd/yyyy'}}</h6>
			<p>{{article.description}}</p>
			<button class="button-it">Read More</button>
		</div>
	</div>
</a>

<!-- Only show more articles if next page object evaluates to true-->
<button ng-if="vm.page" ng-click="vm.loadMoreArticles()" class="button-it">Check out more</button>
	
