<div class="section-title">Popular Articles</div>
<div class="below-box">

	<!-- Display latest articles for selected sections-->
	<div class="small-below" ng-repeat="article in vm.latestArticles track by article._id" ng-if="vm.latestArticles.length > 0">
		<a href="/#/article/view/{{article._id}}">
			<img ng-if="article.firstArticleImage" ng-src="{{article.firstArticleImage.secure_url}}">
			<h5>{{article.section}}</h5>
			<p>{{article.publishedDate | date: 'MM/dd/yyyy'}}</p>
			<h4>{{article.title}}</h4>
	
		</a>
	</div>

	<div class="us-below">
		<a href="#/!"><h1>Mochunks TV</h1></a>
		<img id="about-brand-image" class="img-responsive" src="/images/Mo Chunks TV - Transparent.png"/>
		<p>MoChunks TV brings to you the best of Life, Fashion, Entertainment and Relationships.</p>
	</div>
</div>
