<div class="section-title">Popular Articles</div>
<div class="below-box">

	<!-- Display latest articles for selected sections-->
	<div class="small-below" ng-repeat="article in vm.latestArticles track by article._id" ng-if="vm.latestArticles.length > 0">
		<a href="/#/article/view/{{article._id}}">
			<img ng-if="article.firstArticleImage" ng-src="{{article.firstArticleImage.secure_url}}">
			<h5>{{article.section}}</h5>
			<p>{{article.publishedDate | date: 'MM/dd/yyyy'}}</p>
			<h4>{{article.title}}</h4>
	
		</a>
	</div>

	<div class="us-below">
		<a href="#/!"><h1>Follow Us</h1></a>
		<div>
			<a href="https://www.facebook.com/mo.chunkaay" target="_blank"
			   class="fa fa-facebook-square fa-2x facebook"></a>
			<a href="https://www.youtube.com/user/TwigaayAndChunkaay" target="_blank"
			   class="fa fa-youtube-square fa-2x youtube"></a>
			<a href="https://www.instagram.com/mochunks/" target="_blank" class="fa fa-instagram fa-2x instagram"></a>
			<a href="https://twitter.com/mochunks?lang=en" target="_blank"
			   class="fa fa-twitter-square fa-2x twitter"></a>
		</div>
		<img id="about-brand-image" class="img-responsive" src="/images/Mo Chunks TV - Transparent.png"/>
	</div>
</div>
