<div ng-repeat="article in vm.listedArticles">

	<div class="col-sm-3">

		<!-- TODO: We do not store the author of the article-->
		<!--<h5>By Author of Article</h5>-->

		<h6>{{article.publishedDate}}</h6>

	</div>

	<div class="col-sm-6">

		<h2>{{article.title}}</h2>

		<p>{{article.description}}</p>

	</div>

	<div class="col-sm-3">

		<img src="{{article.image.secure_url}}" alt="{{article.title}}">

	</div>
</div>

<!-- Only show more articles if next page object evaluates to true-->
<button ng-if="vm.page" class="check-more">Check out more</button>

