<nav class="visible-xs toggle-menu">

	<i class="visible-xs fa fa-times" aria-hidden="true" ng-click="$root.showMenu = false"></i>

	<button class="btn btn-default"><a href="/">Home</a></button>
	<br>
	<div class="dropdown">
		<button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown"
				aria-haspopup="true" aria-expanded="true">
			lifestyle
			<span class="fa fa-angle-right"></span>
		</button>
		<ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
			<li><a href="/realTalk">Real Talk</a></li>
			<li><a href="/askChunksPage">Ask Chunks</a></li>
			<li><a href="/beingChunksPage">Being MoChunks</a></li>
			<li><a href="/hub">The Hub</a></li>
		</ul>
	</div>
	<br>
	<div class="dropdown">
		<button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown"
				aria-haspopup="true" aria-expanded="true">
			fashion
			<span class="fa fa-angle-right"></span>
		</button>
		<ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
			<li><a href="/inStylePage">In style</a></li>
			<li><a href="/lookBookPage">Look Books</a></li>
		</ul>
	</div>
	<br>
	<div class="dropdown">
		<button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu3" data-toggle="dropdown"
				aria-haspopup="true" aria-expanded="true">
			entertainment
			<span class="fa fa-angle-right"></span>
		</button>
		<ul class="dropdown-menu" aria-labelledby="dropdownMenu3">
			<li><a href="/trendingPage">What's Trending?</a></li>
			<li><a href="/scoopInterview">Real Scoop Interviews</a></li>
			<li><a href="/event">Events</a></li>
			<li><a href="/celebReview">Celebrity Reviews</a></li>
			<li><a href="/thisWeekInMusic">This week in music</a></li>
		</ul>
	</div>
	<br>
	<div class="dropdown">
		<button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu4" data-toggle="dropdown"
				aria-haspopup="true" aria-expanded="true">
			relationships
			<span class="fa fa-angle-right"></span>
		</button>
		<ul class="dropdown-menu" aria-labelledby="dropdownMenu4">
			<li><a href="/loveLovePage">Why Do We Love Love?</a></li>
			<li><a href="/askChunksPage">Ask Chunks</a></li>
		</ul>
	</div>
	<br>
	<!--Button directs user to youtube channel-->
	<button class="btn btn-default which-btn"><a href="https://www.youtube.com/user/TwigaayAndChunkaay" target="_blank">MoChunks
		TV</a></button>

	<br>
	<!--button directs user to contacts page-->
	<button class="btn btn-default which-btn"><a href='/contactPage'>Contact Us</a></button>

</nav>
