body,
html {
    margin: auto;
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    font-weight: 400;
}

button,
i,
input,
span,
div,
form,
a,
h2,
img,
textarea,
ul,
li,
p {
    outline: none !important;
}

.fa {
    padding: 0;
    font-family: 'Raleway', sans-serif !important;
}

.fa::before {
    font-family: 'FontAwesome';
}

.btn-default:hover,
.btn-default:active,
.btn-default:focus{
    outline: none !important;
    border: none;
    background: #f5f5f5;
    border-radius: 0;
    height: 100%;
}

.row {
    margin: 0;
}

a {
    text-decoration: none !important;
    color: #333333 !important;
}

a:hover {
    font-weight: 900;
}

button {
    color: #fff;
    background: #333;
    border: none;
    min-height: 30px;
}

button:hover {
    background: #1f1f1f;
}

/**naviagtion**/

.navtop-1 {
    display: flex;
    justify-content: space-around;
    height: 130px;
    margin-top: 20px;
}

.navtop-1 h1 {
    text-align: center;
    font-size: 80px;
    margin: 0;
    font-family: 'Mr De Haviland', cursive;
    top: 10px;
    position: relative;
}

.navtop-1 p {
    font-size: 14px;
    color: #ccc;
    position: relative;
    top: -10px;
}

.navtop-1 form {
    margin-top: 65px;
}

.navtop-1 input {
    border: none;
    border-bottom: 1px solid #333;
}

.navtop-1 form i {
    position: relative;
    left: -20px;
}

.navtop-2 {
    display: flex;
    justify-content: center;
    position: sticky;
    background-color: #333;
    top: 0;
    height: 50px;
    z-index: 2;
    line-height: 50px;
}

.memo ul {
    display: flex;
    padding: 0;
    position: absolute;
    left: 80px;
    line-height: 60px;
}

.memo a {
    padding: 0 5px;
    font-size: 30px;
    background: none;
    border: none;
    color: #f7f7f7 !important;
}

.navtop-2 ul {
    list-style: none;
    text-transform: uppercase;
}
.navtop-2 button {
    text-transform: uppercase;
    background: none;
    border: none;
    color: #fff;
}
.which-btn {
    border-top: 1px solid #333 !important;
    background: #f5f5f5 !important;
    border-radius: 0;
}
/**end of navigation**/

/**carousel**/
.float-top {
    display: flex;
    justify-content: center;
    background: #f7f7f7;
    padding: 40px 70px 0 70px;
}

.float-top img {
    height: 450px !important;
    width: 100%
}

.float-top h2 {
    font-weight: 900;
}

.carousel {
    height: 450px;
    width: 100%;
}

.carousel-inner {
    height: 100%;
}

.carousel-indicators {
    position: absolute;
    bottom: 175px;
    left: 18%;
    z-index: 15;
    width: 100%;
    padding-left: 0;
    margin-left: 0;
    text-align: -webkit-center;
    list-style: none;
    display: grid;
}

.carousel-indicators li {
    border: 1px solid #333;
}

.carousel-indicators .active {
    background-color: #333;
}

.item div {
    background: rgba(225,225,225, 0.4);
    position: relative;
    top: -240px;
    left: 20px;
    height: 220px;
    color: #333;
    padding: 20px;
    width: 70%;
}

.item h1 {
    margin: 0;
    font-weight:900;
}

.item p {
    width: 100%;
    margin-bottom: 0;
    margin-top: 10px;
}

.item button {
    font-size: 14px;
}

.carousel-control.left {
visibility: hidden;
}

.carousel-control.right {
visibility: hidden;
}

.glyphicon {
    color: #fff;
}

.float-list {
    height: 450px;
    padding: 0 10px;
    overflow: auto;
}

.float-list:hover {
    box-shadow: none;
}

.float-list h3 {
    color: #fff;
    background: #333;
    margin: 0;
    padding: 10px;
}

.float-list h4 {
    font-weight: 900;
}

.float-list p {
    color: #aaa;
}

.float-list hr {
    margin: auto;
    width: 100%;
    height: 10px;
}

.main-episode {
    height: 170px;
    background: #ccc;
}

.main-episode col-sm-4 {
    background: #333;
}

.sub-episode button {
    float: right;
    color: #ccc;
    line-height: 60px;
    background: none;
    border: none;
}

.sub-episode button:hover {
    color: #333;
}

.sub-episode .col-sm-4 {
    background: #ccc;
    height: 60px;
}

.sub-episode .col-sm-8 {
    height: 60px;
}

.sub-episode .col-sm-8 h5 {
    font-weight:bold;
    margin-bottom: 0;

}

.check-more {
    width: 97%;
    margin: auto;
    color: #fff;
    height: 50px;
    font-size: 16px;
    display: flex;
    justify-content: center;
}

/**float-below**/

.float-below {
    text-align: center;
    background: #f7f7f7;
}

.float-below h5,
.float-below p,
.float-below h4 {
    text-align: left;
}

.below-box {
    display: inline-flex;
    justify-content: center;
    width: 100%;
    height: 250px;
}

.us-below {
    width: 220px;
    height:inherit;
    border-right: 1px solid #333;
}

.us-below h5 {
    text-align: left;
    font-weight: bold;
}

.us-below h1 {
    font-family: 'Mr De Haviland', cursive;
    text-align: left;
    font-size: 46px;
    margin-top: 0;
}

.us-below div {
    text-align: left;
}

.float-below .small-below {
    height: 150px;
    width: 220px;
    margin: 0px 10px;
    color: #333;
    padding: 0;
}

.float-below .small-below:hover {
    box-shadow:0px 5px 20px 0px rgba(19, 21, 24, 0.4);
}

.small-below div {
    height: 100%;
    background: #333;
}

.small-below h5 {
    font-weight: 900;
}

.small-below p {
    color: #ccc;
}
/**end of float-below**/

/**end of carousel**/


/**article-listing**/
.article-listing {
    padding: 0 80px;
}

.article-listing .col-sm-9 {
    padding: 20px 0;
    border: 1px solid #eee;
}

.left-listing {
    margin: 10px 0;
}

.left-listing img {
    width: 100%;
    height:350px;
}

.left-listing h6 {
    float: right;
}

.right-listing {
    text-align: center;
    position: sticky;
    top: 50px;
}

.right-listing hr {
    margin-top: 0;
}

.right-listing img {
    height: 300px;
    width: 100%;
}
.right-listing p {
    margin-top: 10px;
}

.right-listing h1 {
    font-family: 'Mr De Haviland', cursive;
    font-size: 80px;
}

.ads {
    font-size: 10px;
    text-align: left;
}

.eventcide-advert {
    background: #24292e;
    height: 400px;
    width: 100%;
    text-align: left;
    color: #fff;
    padding: 20px;
}

.eventcide-advert h5 {
    color: rgba(5, 133, 126, 1);
 }

.cide-signup  {
    border-radius: 3px;
    border: none;
    background: #05857e !important;
    text-align: center;
}

.eventcide-advert button {
    background: none;
    border: none;
}

.eventcide-find i {
    color: #1b1f23;
    text-shadow: 1px 1px rgba(255, 255, 255, 0.1);
    font-size: 20px;
}

.eventcide-advert span {
    color: rgba(255, 255, 255, 0.75);
    padding: 0 0 0 10px;
    font-size: 15px;
}

.eventcide-advert ul.dropdown-menu {
    background: #24292e;
    color: rgba(255, 255, 255, 0.75);
    left: 110px;
    top: 0px;
    text-align: right;
}

#float-search input {
    border-radius: 5px;
    border: none;
    height: 30px;
    width: 85%;
    padding: 0 5px;
    background: #1b1f23;
    box-shadow: 0px 1px #353a43;
}

#float-search button {
    background: none;
    color: rgba(255, 255, 255, 0.2) !important;
    position: relative;
    left: -30px;
}
/**end of article-listing**/

/**dropdown menu**/
.dropdown-menu {
    border-radius: 0;
}
/**end of dropdown**/

/**content**/
.content {
    text-align: center;
}

.content h1 {
    font-family: 'Mr De Haviland', cursive;
    font-size: 80px;
}

.content img {
    width: 100%;
    height: 40%;
}

.content h5 {
    font-weight: bold;
}

.content .col-sm-4 {
    text-align: left;
}

.content .col-sm-4 h2{
    margin: 0;
}
/**end of content page**/

/**contact**/
.contact {
    margin: auto 5px;
    width: 90%;
}

form p {
    margin: 0;
}

form input,
form textarea{
    margin-bottom: 10px;
    width: 100%;
}


/**end of contact**/

/**grid**/
.look {
    min-height: 1000px;
}

.itlook{
    display: flex;
    justify-content: space-between;
    padding: 0 5%;
    line-height: 35px;
}

/*.look .dropdown {*/
    /*display: flex;*/
    /*justify-content:flex-end;*/
    /*padding: 0 5%;*/
/*}*/

.look .dropdown-menu {
    height: 30px;
    left: inherit;
    z-index: 1;
}

.look .dropdown-menu li {
    background: none;
}
.wrapper ul {
    overflow: hidden;
    list-style: none;
}
.wrapper li {
    float: left;
    margin: 0 10px 20px 10px;
    background: #f5f5f5;
    width: 30%;
    height: 300px;
    padding: 0px 18px;
}

.card h2,
.card p,
.card hr,
.card button,
.card b{
    visibility: hidden;
}
.card:hover {
    box-shadow: inset 0px 0px 0px 151px rgba(19, 21, 24, 0.1);
}
.card:hover h2, .card:hover p, .card:hover hr, .card:hover button, .card:hover b {
    visibility: visible;
    margin: 5px 0;
}
/**end of grid**/

/**footer**/
.footer-1 {
    display: flex;
    justify-content: space-around;
    padding: 20px 40px
}

.footer-1 p {
    margin: 0px;
}

.footer-title h1{
    margin: 0;
    font-family: 'Mr De Haviland', cursive;
    font-size: 80px;
}

.footer-title p {
    font-size: 10px;
    color: #ccc;
    top: -20px;
    position: relative;
}

.footer-info a {
    display: list-item;
    list-style: none;
    margin: 5px 0;
}

.footer-media a{
    display: list-item;
    list-style: none;
    margin: 10px 0;
}

.footer-newsletter {
    display: flex;
}

.footer-newsletter p {
    margin: 0 15px 0 0 ;
}

.footer-newsletter input {
    height: 40px;
    padding: 0 5px;
    border: 1px solid #ccc;
}

.footer-newsletter input:focus {
    background: #f7f7f7;
}

.footer-newsletter button {
    height: 40px;
}

.footer-2 {
    text-align: center;
    height: 30px;
    line-height: 30px;
    background: #f7f7f7;
    border-top: 1px solid #ccc;
}

.footer-2 p {
    margin: 0;
}
/**end of footer**/