<footer class="footer-main row">

	<div class="footer-title col-md-8 hidden-xs">
		<a href="/"><img src="/images/Mo Chunks TV - Transparent.png" title="Mochunks"/></a>
	</div>

	<div class="footer-title col-xs-12 visible-xs">
		<a href="/"><img src="/images/Mo Chunks TV - Transparent.png" title="Mochunks"/></a>
	</div>

	<div class="footer-media col-md-2 col-xs-12">
		<a href="https://www.youtube.com/user/TwigaayAndChunkaay" title="mochunkstv youtube" target="_blank" class="fa fa-youtube-square">
			YouTube</a>
		<a href="https://www.instagram.com/MoChunksTV/" title="mochunkstv instagram" target="_blank" class="fa fa-instagram"> Instagram</a>
		<a href="https://twitter.com/MoChunksTV" title="mochunkstv twitter" target="_blank" class="fa fa-twitter-square"> Twitter</a>
		<a href="https://www.facebook.com/MoChunks-TV-2011922122417153/" title="mochunkstv facebook" target="_blank" class="fa fa-facebook-official"> Facebook</a>
		<a href="mailto:info.mochunks@gmail.com" target="_blank" class="fa fa-envelope"> Email</a>
	</div>

	<div class="footer-info col-md-2 hidden-xs">
		<a href='/aboutPage' title="about">About Us</a>
		<a href="https://www.youtube.com/user/TwigaayAndChunkaay" title="mochunkstv youtube" target="_blank"> MoChunks TV</a>
		<a href='/contactPage' title="contact">Contact Us</a>
	</div>

</footer>
<footer class="footer-2">
	<p>Copyright © 2017 MoChunks TV. All rights reserved.</p>
</footer>
