<footer class="footer-main row">
	<hr>

    <div class="footer-title hidden-xs col-md-8">
        <a href="#/!"><img src="/images/Mo Chunks TV - White.png" /></a>
    </div>

    <div class="footer-info col-md-2">
        <a href='#!aboutPage'>About Us</a>
        <a href="https://www.youtube.com/user/TwigaayAndChunkaay" target="_blank"> MoChunk TV</a>
        <a href='#!contactPage'>Contact Us</a>
    </div>

    <div class="footer-media col-md-2">
        <a href="https://www.youtube.com/user/TwigaayAndChunkaay" target="_blank" class="fa fa-youtube-square"> MoChunks TV</a>
        <a href="https://www.instagram.com/mochunks/" target="_blank" class="fa fa-instagram"> Instagram</a>
        <a href="https://twitter.com/mochunks?lang=en" target="_blank" class="fa fa-twitter-square"> Twitter</a>
        <a href="mailto:ojomowa@yahoo.co.uk" target="_blank" class="fa fa-envelope"> Email</a>
        <a href="https://www.facebook.com/mo.chunkaay" target="_blank" class="fa fa-facebook-official"> Facebook</a>
    </div>

    <!--<form class="footer-newsletter hidden-xs" method="get">-->
        <!--<p>Keep up to date with the latest trends<br>and fashion styles.</p>-->
        <!--<input type="text" placeholder="Enter your email">-->
        <!--<button type="submit">Subscribe</button>-->
    <!--</form>-->
	
</footer>
<footer class="footer-2">
    <p>Copyright © 2017 MoChunks TV. All right reserved.</p>
</footer>
