@media screen and (min-width: 320px) {
.footer-main img {
	width: 100px;
}
}

@media screen and (min-width: 768px) {
	.footer-media .fa::before {
		font-size: 1.75vw;
	}
	.footer-main img {
		width: 200px;
	}
}

@media screen and (min-width: 1024px) {

}

/**footer**/
.footer-main {
	display: flex;
	justify-content: space-around;
	align-items: center;
	padding: 1vw 7vw 0;
	background: rgb(104, 5, 104);
}

.footer-main p {
	margin: 0;
}

.footer-title {
	padding: 0;
	top: -5px;
}

.footer-title .visible-xs{
	top: 0;
}

.footer-info {
	padding: 0;
}

.footer-info a {
	display: list-item;
	list-style: none;
	margin: 0 0 1vw 0;
	color: #fff;
}

.footer-media {
	padding: 0;
	
}

.footer-media .fa::before {
	margin-right: 0.5vw;
	color: #fff;
}

.footer-media a {
	display: list-item;
	list-style: none;
	margin: 0 0 1.5vw 0;
	color: #fff;
}

.footer-2 {
	border-top: 1px solid #eee;
	padding: 1vw 0;
	margin: 0 5vw;
	text-align: center;
	height: inherit;
	line-height: 30px;
}

.footer-2 p {
	margin: 0;
	color: rgb(104, 5, 104);
	font-size: 11px;
}

/**end of footer**/
