<hr>

<footer class="footer-1">

    <div class="footer-title">
        <a href="/index.html"><h1>MoChunks</h1></a>
        <p>Chunks of lifestyle, Fashion, Entertainment<br>and Relationships</p>
    </div>

    <div class="footer-info">
        <a href='pages/aboutPage/about.view.html'>About</a>
        <a href="https://www.youtube.com/user/TwigaayAndChunkaay" target="_blank"> MoChunk TV</a>
        <p>Services</p>
        <a href='pages/contactPage/contactPage.view.html'>Contact</a>
    </div>

    <div class="footer-media">
        <a href="https://www.youtube.com/user/TwigaayAndChunkaay" target="_blank" class="fa fa-youtube-square"> MoChunk TV</a>
        <a href="https://www.instagram.com/mochunks/" target="_blank" class="fa fa-instagram"> Instagram</a>
        <a href="https://twitter.com/mochunks?lang=en" target="_blank" class="fa fa-twitter-square"> Twitter</a>
        <a href="mailto:ojomowa@yahoo.co.uk" target="_blank" class="fa fa-envelope"> Email</a>
        <a href="https://www.facebook.com/mo.chunkaay" target="_blank" class="fa fa-facebook-official"> Facebook</a>
    </div>

    <form class="footer-newsletter" method="get">
        <p>Keep up to date with the latest trends<br>and fashion styles from MoChunks.</p>
        <input type="text" placeholder="Enter your email">
        <button type="submit">Subscribe</button>
    </form>
</footer>
<br>
<footer class="footer-2">
    <p>Copyright © 2017 MoChunks. All right reserved.</p>
</footer>