<span class="section-title hidden-xs">Adverts</span>
<div class="sell hidden-xs">
	<div class="eventlabel">
		<a href="https://www.eventcide.com/" target="_blank">
			<img src="/images/lifesimply-rocks-99718.jpg" alt=""/>
			<div class="block-text">
				<h2>Eventcide | Discover. Decide</h2>
				<p class="hidden-md">Going on now | Live </p>
				<p class="hidden-md">London,</p>
				<p class="hidden-md">5km</p>
			</div>
			<hr>
			<div class="block-floor1">
				<i class="fa fa-ticket ticket"></i>
				<i class="fa fa-heart heart"></i>
				<i class="fa fa-facebook-square facebook"></i>
			</div>
			<div class="block-floor2">
				<p>100 views</p>
				<p> View event <i class="fa fa-arrow-right"></i></p>
			</div>
		</a>
	</div>
</div>
