body,
html {
    margin: auto;
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    font-weight: bold;
}

main {
	padding: 60px;
	display: block;
}

button,
i,
input,
span,
div,
form,
a,
h2,
img,
textarea,
ul,
li,
p {
    outline: none !important;
}

.fa {
	font-weight: 900;
    padding: 0;
    font-family: 'Raleway', sans-serif !important;
}

.fa::before {
    font-family: 'FontAwesome';
}


.btn-default {
	transition: all 0.3s;
}

.btn-default:hover,
.btn-default:active,
.btn-default:focus{
	color: #fff;
	background: none !important;
    outline: none !important;
	border: none;
    border-radius: 0;
    height: 100%;
	transform: scale(1.1);
}

.row {
    margin: 0;
}

.lobster {
	font-family: 'Lobster', cursive;
}

.txt-center{
	display: flex;
	justify-content: center;
	text-align: center;
	padding: 0 150px;
}

a {
    text-decoration: none !important;
    color: inherit !important;
}

button {
    color: #fff;
    background: #333;
    border: none;
    min-height: 30px;
}

.title-direct {
	background: #333;
	color: #fff !important;
	padding: 5px;
}

/**naviagtion**/

.navtop-1 {
    display: flex;
    justify-content: space-around;
    height: 130px;
    margin-top: 20px;
}

.navtop-1 h1 {
    text-align: center;
    font-size: 80px;
    margin: 0;
	font-family: 'Lobster', cursive;
    top: 10px;
    position: relative;
}

.navtop-1 p {
    font-size: 14px;
    position: relative;
	font-weight: bold;
}

.navtop-1 form {
    margin-top: 65px;
}

.navtop-1 input {
    border: none;
    border-bottom: 1px solid #333;
}

.navtop-1 form i {
    position: relative;
    left: -20px;
}

.navtop-2 {
	display: flex;
	justify-content: center;
	position: sticky;
	background-color: #333;
	top: 0;
	height: 50px;
	z-index: 2;
	border: 1px solid #333;
}

.memo {
	background: #333;
	height: 25px;
	position: relative;
	color: #fff;
}

.jello-vertical {
	-webkit-animation: jello-vertical 0.9s infinite both;
	animation: jello-vertical 0.9s infinite both;
}

@-webkit-keyframes jello-vertical {
	0% {
		-webkit-transform: scale3d(1, 1, 1);
		transform: scale3d(1, 1, 1);
	}
	30% {
		-webkit-transform: scale3d(0.75, 1.25, 1);
		transform: scale3d(0.75, 1.25, 1);
	}
	40% {
		-webkit-transform: scale3d(1.25, 0.75, 1);
		transform: scale3d(1.25, 0.75, 1);
	}
	50% {
		-webkit-transform: scale3d(0.85, 1.15, 1);
		transform: scale3d(0.85, 1.15, 1);
	}
	65% {
		-webkit-transform: scale3d(1.05, 0.95, 1);
		transform: scale3d(1.05, 0.95, 1);
	}
	75% {
		-webkit-transform: scale3d(0.95, 1.05, 1);
		transform: scale3d(0.95, 1.05, 1);
	}
	100% {
		-webkit-transform: scale3d(1, 1, 1);
		transform: scale3d(1, 1, 1);
	}
}
@keyframes jello-vertical {
	0% {
		-webkit-transform: scale3d(1, 1, 1);
		transform: scale3d(1, 1, 1);
	}
	30% {
		-webkit-transform: scale3d(0.75, 1.25, 1);
		transform: scale3d(0.75, 1.25, 1);
	}
	40% {
		-webkit-transform: scale3d(1.25, 0.75, 1);
		transform: scale3d(1.25, 0.75, 1);
	}
	50% {
		-webkit-transform: scale3d(0.85, 1.15, 1);
		transform: scale3d(0.85, 1.15, 1);
	}
	65% {
		-webkit-transform: scale3d(1.05, 0.95, 1);
		transform: scale3d(1.05, 0.95, 1);
	}
	75% {
		-webkit-transform: scale3d(0.95, 1.05, 1);
		transform: scale3d(0.95, 1.05, 1);
	}
	100% {
		-webkit-transform: scale3d(1, 1, 1);
		transform: scale3d(1, 1, 1);
	}
}


.memo ul {
	display: inline-flex;
	list-style: none;
	position: relative;
	right: 60px;
	float: right;
	margin: auto;
	height: inherit;
	line-height: 25px;
}

.memo a {
	padding: 0 5px;
	background: none;
	border: none;
}

.memo a:hover {
	font-size: 16px;
}

.memo p {
	padding: 0 10px;
	font-weight: bold;
}

.memo li {
	background: #fff;
}

.facebook {
	color: #3B5998 !important;
}

.youtube { 
	color: #cc181e !important;
}

.instagram {
	color: #cd486b !important;
}

.twitter {
	color:#0084b4 !important;
}

.email {
	color: #333 !important;
}

.navtop-2 ul {
    list-style: none;
    text-transform: capitalize;
}
.navtop-2 button {
    text-transform: capitalize;
    background: none;
    border: none;
    color: #fff;
	height: 100%;
	font-weight: bold;
}
.navtop-2-sm {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
/**end of navigation**/

/**wrapper**/
.wrapper {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-gap: 20px;
	grid-auto-flow: dense;
	list-style: none;
	margin: 1em auto;
	padding: 0;
}
.wrapper li {
	border: 1px solid #ccc;
}

.wrapper li.landscape {
	grid-column-end: span 2;
}

.wrapper li img {
	display: block;
	object-fit: cover;
	width: 100%;
	height: 100%;
	transition: all 0.3s;
}
.wrapper li img:hover {
	transform: scale(1.05);	
}
/**enf of wrapper**/

/**look-book**/
/*.look-book img:hover {*/
	/*background: rgba(51,51,51,0.2);*/
/*}*/

/*.icon {*/
	/*display: none;*/
/*}*/

/*.wrapper li img:hover, .icon {*/
	/*background: #333;*/
	/*border-radius: 30px;*/
	/*color: #fff;*/
	/*display: flex;*/
	/*justify-content: flex-end;*/
/*}*/
/**end of look-book**/

/**carousel**/
.float-top {
    display: flex;
    justify-content: center;
    background: #fff;
	padding: 1.5vw;
}

.float-top img {
    height: 450px !important;
    width: 100%;
	left: 0;
	position: absolute;
	z-index: -1;
}

.float-top h2 {
    font-weight: 900;
}

.arti-carousel-title {
	text-align: left;
	float: left;
	top: 320px;
	position: relative;
	width: 65%;
}

.arti-carousel-title h3 {
	margin: 10px 0 10px 10px;
}

.carousel {
    height: 450px;
    width: 100%;
}

.carousel-inner {
    height: 100%;
}

.carousel-control.left {
	display: none;
}

.carousel-control {
	background-image: none !important;
	color: #fff !important;
}

.carousel-indicators {
	z-index: 0;
}

.float-top-right {
	padding-right: 0 !important;
}

.float-list {
    height: 450px;
    padding: 0 10px;
    overflow: auto;
}

.float-list:hover {
    box-shadow: none;
}

.float-list h3 {
    color: #fff;
    background: #333;
    margin: 0;
    padding: 10px;
}

.float-list p {
    color: #aaa;
}

.float-list h4 {
	font-weight: 900;
}

.float-list hr {
    margin: auto;
    width: 100%;
    height: 10px;
}

.main-episode {
    height: 170px;
    background: #ccc;
}

.main-episode col-sm-4 {
    background: #333;
}

.sub-episode button {
    float: right;
    color: #ccc;
    line-height: 60px;
    background: none;
    border: none;
}

.sub-episode button:hover {
    color: #333;
}

.sub-episode .col-sm-4 {
    background: #ccc;
    height: 60px;
}

.sub-episode .col-sm-8 {
    height: 60px;
}

.sub-episode .col-sm-8 h5 {
    font-weight:bold;
    margin-bottom: 0;

}

.check-more {
    width: 95%;
    margin: auto;
    color: #fff;
    height: 50px;
    font-size: 16px;
    display: flex;
    justify-content: center;
}

/**ask-us**/
.ask-us {
	background: #333;
	color: #fff;
	padding: 10px 30px 30px;
	margin: 0 15px;
}

.ask-us button{
	background: #ccc;
	color:#333;
	width:100%;
}

.ask-us input, .ask-us textarea {
	color: #333;
}

.ac .col-sm-3 {
	padding: 0;
}
/**end of ask-us**/

/**ab-content**/

.ab-content {
	background: rgb(51,51,51);
	color: #fff;
	padding: 60px;
	min-height: 270px;
	margin-top: 140px;
}

.ab-content img {
	position: absolute;
	width: 45vw;
	top: 300px;
	transition: all 0.3s;
}

.ab-content img:hover {
	transform: scale(1.05);
	
}

.ab-content p {
	font-size: 20px;
	width: 40%;
	float: right;
	margin: 0;
}
/**ab-content**/

/**go top**/

/**go top**/
#go-top {
	color: #fff;
	background: #333;
	padding: 15px;
	position: fixed;
	bottom: 40px;
	left: 10px;
	border-radius: 3px;
	transition: all 0.3s;
}

#go-top:hover {
	transform: scale(1.1);
}
/**float-below**/

.float-below {
    text-align: center;
    background: #fff;
}

.float-below h5,
.float-below p,
.float-below h4 {
    text-align: left;
	margin: 5px 0;
	font-weight: bold;
}

.below-box {
    display: inline-flex;
    justify-content: space-evenly;
    width: 100%;
    height: 250px;
	padding: 0 1.5vw;
}

.us-below {
    width: 220px;
    height: inherit;
}

.us-below h1 {
	font-family: 'Lobster', cursive;
    text-align: left;
    font-size: 35px;
    margin: 0;
}

.us-below div {
    text-align: left;
}

.float-below .small-below {
    height: 150px;
    width: 15vw;
    margin: 0 20px 0 0;
    color: #333;
    padding: 0;
}

.float-below .small-below:hover {
    box-shadow:0 5px 20px 0 rgba(19, 21, 24, 0.4);
}

.small-below div {
    height: 100%;
    background: #333;
}

.small-below h5 {
	float: right;
}

.small-below p {
    color: #ccc;
}
/**end of float-below**/

/**end of carousel**/


/**article-listing**/

.article-listing .col-sm-9 {
    padding: 0 0 20px 0;
    border: 1px solid #eee;
	background: #fff;
}

.left-listing {
    margin: 10px 0;
	background: #fff;
	border: 1px solid #eee;
	padding: 20px;
}

.left-listing img {
    width: 100% !important;
    height:150px !important;
}

.left-listing h2 {
	margin: 0;
	background: #333;
	color: #fff;
	padding: 10px;
	width: inherit !important;
}

.left-listing p {
	width: fit-content !important;
}

.right-listing {
    text-align: center;
    position: sticky;
    top: 50px;
}

.right-listing hr {
    margin-top: 0;
}

.right-listing img {
    height: 300px;
    width: 100%;
}


.right-listing h1 {
	font-family: 'Lobster', cursive;
    font-size: 80px;
}

.ads {
    font-size: 10px;
    text-align: left;
	padding: 10px;
}

.eventcide-advert {
    background: #24292e;
    height: 400px;
    width: 20vw;
    text-align: left;
    color: #fff;
    padding: 20px;
	margin: auto;
}

.eventcide-advert h5 {
    color: rgba(5, 133, 126, 1);
 }

.cide-signup  {
    border-radius: 3px;
    border: none;
    background: #05857e !important;
    text-align: center;
}

.eventcide-advert button {
    background: none;
    border: none;
}

.eventcide-find i {
    color: #1b1f23;
    text-shadow: 1px 1px rgba(255, 255, 255, 0.1);
    font-size: 20px;
}

.eventcide-advert span {
    color: rgba(255, 255, 255, 0.75);
    padding: 0 0 0 10px;
    font-size: 15px;
}

.eventcide-advert ul.dropdown-menu {
    background: #24292e;
    color: rgba(255, 255, 255, 0.75);
    left: 110px;
    top: 0px;
    text-align: right;
}

#float-search input {
    border-radius: 5px;
    border: none;
    height: 30px;
    width: 85%;
    padding: 0 5px;
    background: #1b1f23;
    box-shadow: 0px 1px #353a43;
}

#float-search button {
    background: none;
    color: rgba(255, 255, 255, 0.2) !important;
    position: relative;
    left: -30px;
}
/**end of article-listing**/

/**dropdown menu**/
.dropdown-menu {
    border-radius: 0;
	text-align: center;
}

.open>.dropdown-toggle.btn-default:focus, .open>.dropdown-toggle.btn-default:hover {
	background-color: #333;
	color: #fff;
}
/**end of dropdown**/

/**content**/
.content img {
    width: 100%;
    height: 40%;
}

.content .col-sm-4 {
    text-align: left;
}

.content .col-sm-4 h2{
    margin: 0;
}
/**end of content page**/

/**artiview**/
.artiview {
	background: #fff;
}

.artiview img {
	width: 49.5vw;
	height: 300px;	
}

.artiview h2 {
	width: 50vw;
	margin-top: 0;
	font-weight: bold;
}

.artiview p {
	width: 50vw;
	margin: 10px 0;
	font-weight: bold;
}

.artiview .float-below {
	display: inline-block;
}

.artiview .float-below p {
	width: inherit;
}

.might-l {
	padding: 0;
}

.avid-xs {
	width: 220px !important;
	height: 155px !important;
	padding: 0 0px 10px 20px;
}

/**end of artiview**/


/**apvh-page**/
.apvh-page l-page {
	background: #f4f4f4;
} 

.apvh-page .float-below {
	background: none;
}

.apvh-page .below-box {
	justify-content: space-evenly;
}

.apvh-page h1 {
	padding: 0 0px 20px 20px;
}
.r-page {
	padding: 0 20px 100px;
}

.r-page h1 {
	margin-top: 0;
}

.r-page p {
	margin: 10px 0;
}

.r-page img {
	width: 100%;
	height: 450px;
}

.l-page {
	background: #333
}
/**end of apvh-page**/

/**contact**/
.contact {
    margin: auto 5px;
    width: 90%;
}

form p {
    margin: 0;
}

form input,
form textarea{
    margin-bottom: 10px;
    width: 100%;
}


/**end of contact**/


/**footer**/
.footer-1 {
    display: flex;
    justify-content: space-around;
    padding: 20px 0
}

.footer-1 p {
    margin: 0px;
}

.footer-title h1{
    margin: 0;
	font-family: 'Lobster', cursive;
    font-size: 60px;
}

.footer-title p {
    font-size: 10px;
    position: relative;
}

.footer-info a {
    display: list-item;
    list-style: none;
    margin: 5px 0;
}

.footer-media a{
    display: list-item;
    list-style: none;
    margin: 10px 0;
}

.footer-newsletter {
}

.footer-newsletter p {
    margin: 0 15px 0 0 ;
}

.footer-newsletter input {
    height: 40px;
	width: 65%;
    padding: 0 5px;
    border: 1px solid #ccc;
}

.footer-newsletter input:focus {
    background: #fff;
}

.footer-newsletter button {
    height: 40px;
}

.footer-2 {
    text-align: center;
    height: inherit;
    line-height: 30px;
    background: #fff;
    border-top: 1px solid #ccc;
}

.footer-2 p {
    margin: 0;
}
/**end of footer**/



@media screen and (min-width: 320px) {
	.col-xs-12 {
		padding: 0;
	}
	/**article-listing**/
	.navtop-1 p {
		text-align: center;
	}
	.navtop-1 h1 {
		font-size: 70px;
	}
	
}

.bc-page .us-below {
	display: none;
}

.artiview .us-below {
	display: none;
}

.tc-page .us-below {
	display: none;
}
