@media screen and (min-width: 320px) {
	.navtop-2-xs {
		display: flex;
		justify-content: space-around;
		align-items: center;
		padding: 10px 0;
		background: #940094;
		color: #fff
	}

	.navtop-2-xs h1 {
		margin: 0;
	}

	.navtop-2 img {
		display: none
	}
	
}

@media screen and (min-width: 768px) {
	.navtop-2-xs {
		display: none;
	}
	.navtop-2 {
		padding: 0 3vw;
	}
	.navtop-2 .link {
		padding: 0;
	}
	.dropbtn {
		padding: 5px;
	}
	.nav-home {
		display: none
	}
}

@media screen and (min-width: 1024px) {
	.navtop-2 {
		padding: 0 7vw;
	}
	.navtop-2 .link {
		padding: 17px;
	}
	.navtop-2 img {
		display: block;
		width: 100px;
		height: 100px;
	}
	.dropbtn {
		padding: 16px 8px;
	}
	.nav-home {
		display: inline-flex;
	}
}

/**naviagtion**/
.navtop-2 {
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: sticky;
	top: -1px;
	height: 50px;
	z-index: 100;
	background: #940094;
	box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.1);
}

.navtop-2 h1 {
	color: #fff;
	margin: 0;
	font-size: 30px;
}

.navtop-2 p {
	font-size: 10px;
}

.memo {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 30px;
	color: #940094;
	padding: 0 7vw;
}

.jello-vertical {
	-webkit-animation: jello-vertical 0.9s infinite both;
	animation: jello-vertical 0.9s infinite both;
}

@-webkit-keyframes jello-vertical {
	0% {
		-webkit-transform: scale3d(1, 1, 1);
		transform: scale3d(1, 1, 1);
	}
	30% {
		-webkit-transform: scale3d(0.75, 1.25, 1);
		transform: scale3d(0.75, 1.25, 1);
	}
	40% {
		-webkit-transform: scale3d(1.25, 0.75, 1);
		transform: scale3d(1.25, 0.75, 1);
	}
	50% {
		-webkit-transform: scale3d(0.85, 1.15, 1);
		transform: scale3d(0.85, 1.15, 1);
	}
	65% {
		-webkit-transform: scale3d(1.05, 0.95, 1);
		transform: scale3d(1.05, 0.95, 1);
	}
	75% {
		-webkit-transform: scale3d(0.95, 1.05, 1);
		transform: scale3d(0.95, 1.05, 1);
	}
	100% {
		-webkit-transform: scale3d(1, 1, 1);
		transform: scale3d(1, 1, 1);
	}
}

@keyframes jello-vertical {
	0% {
		-webkit-transform: scale3d(1, 1, 1);
		transform: scale3d(1, 1, 1);
	}
	30% {
		-webkit-transform: scale3d(0.75, 1.25, 1);
		transform: scale3d(0.75, 1.25, 1);
	}
	40% {
		-webkit-transform: scale3d(1.25, 0.75, 1);
		transform: scale3d(1.25, 0.75, 1);
	}
	50% {
		-webkit-transform: scale3d(0.85, 1.15, 1);
		transform: scale3d(0.85, 1.15, 1);
	}
	65% {
		-webkit-transform: scale3d(1.05, 0.95, 1);
		transform: scale3d(1.05, 0.95, 1);
	}
	75% {
		-webkit-transform: scale3d(0.95, 1.05, 1);
		transform: scale3d(0.95, 1.05, 1);
	}
	100% {
		-webkit-transform: scale3d(1, 1, 1);
		transform: scale3d(1, 1, 1);
	}
}

.memo ul {
	list-style: none;
	margin: 0;
	display: inline-flex;
}

.memo a {
	padding: 0 5px;
	background: none;
	border: none;
	color: #940094;
}

.memo a:hover {
	font-size: 16px;
}

.memo p {
	margin: 0;
}

.navtop-2 ul {
	list-style: none;
	text-transform: capitalize;
}

.navtop-2 button {
	text-transform: capitalize;
	background: none;
	border: none;
	color: #fff;
	height: inherit;
}

menu-x-s {
	background: rgba(51, 51, 51, 0.5);
	height: 100vh;
	width: 100%;
	position: fixed;
	z-index: 1000;
	top: 0;
}

.toggle-menu i {
	color: #fff;
	text-align: right;
}

.toggle-menu {
	background: #940094;
	position: absolute;
	height: 100vh;
	padding: 15vw 5vw;
	width: 70%;
}

.toggle-menu .btn-default {
	background: none;
	border: none;
	color: #fff;
}

.toggle-menu .dropdown-menu {
	top: 0;
	left: 70px;
}

/**start of hover dropdqwon**/
.dropbtn {
	background-color: #999;
	color: #fff;
	border: none;
	cursor: pointer;
}

.btn-default.active, .btn-default:active, .open > .dropdown-toggle.btn-default {
	color: #fff !important;
	background-color: transparent !important;
	border-color: transparent !important;
}

.navtop-2 .link {
	color: #fff;
	text-transform: capitalize;
}

.navtop-logo {
	display: inline-flex;
	align-items: center;
}

.dropdown {
	position: relative;
	display: inline-block;
}

.dropdown-content {
	display: none;
	position: absolute;
	background-color: #fff;
	min-width: 100px;
	width: max-content;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	z-index: 1;
}

.dropdown-content a {
	padding: 10px 10px 5px;
	text-decoration: none;
	display: block;
}

.dropdown-content a:hover {
	font-weight: bold;
}

.dropdown:hover .dropdown-content {
	display: block;
}

.dropdown:hover .dropbtn, .navtop-2 .link:hover {
	background-color: #fff;
	color: #940094;
}

/**end of navigation**/
