<div class="memo">
	
	<p class="hidden-xs">Chunks of lifestyle, Fashion, Entertainment and Relationships</p>

	<ul>
		<p>Be Social <i class="fa fa-long-arrow-right jello-vertical"></i></p>
		<li><a href="https://www.facebook.com/mo.chunkaay" target="_blank" title="Facebook"
			   class="fa fa-facebook-square facebook"></a></li>
		<li><a href="https://www.youtube.com/user/TwigaayAndChunkaay" title="Youtube" target="_blank"
			   class="fa fa-youtube-square youtube"></a></li>
		<li><a href="https://www.instagram.com/mochunks/" title="Instagram" target="_blank"
			   class="fa fa-instagram instagram"></a></li>
		<li><a href="https://twitter.com/mochunks?lang=en" title="Twitter" target="_blank"
			   class="fa fa-twitter-square twitter"></a></li>
		<li><a href="mailto:ojomowa@yahoo.co.uk" title="Email" target="_blank" class="fa fa-envelope email"></a></li>
	</ul>
</div>

<!--<nav class="navtop-1">-->


<!--</nav>-->

<nav class="navtop-2 hidden-xs">

	<div class="navtop-logo">
		<a href="#/!"><h1>MoChunks.com</h1></a>
		<img src="/images/Mo Chunks TV - Transparent.png" />
	</div>

	<div>
		<!--ng-click="$root.togglePlatform()"-->
		<h1 class="visible-xs fa fa-bars btn" aria-hidden="true"></h1>

		<a href="#/!" class="link">Home</a>

		<div class="dropdown">
			<button class="dropbtn">lifestyle</button>
			<div class="dropdown-content">
				<a href="#!realTalk">Real Talk</a>
				<a href="#!askChunksPage">Ask Chunks</a>
				<a href="#!hub">The Hub</a>
			</div>
		</div>

		<div class="dropdown">
			<button class="dropbtn">fashion</button>
			<div class="dropdown-content">
				<a href="#!inStylePage">In Style</a>
				<a href="#!lookBookPage">Look Book</a>
			</div>
		</div>

		<div class="dropdown">
			<button class="dropbtn">entertainment</button>
			<div class="dropdown-content">
				<a href="#!trendingPage">Whats trending</a>
				<a href="#!scoopInterview">Real Scoop Interview</a>
				<a href="#!event">Events</a>
				<a href="#!celebReview">Celebrity Reviews</a>
			</div>
		</div>

		<div class="dropdown">
			<button class="dropbtn">relationship</button>
			<div class="dropdown-content">
				<a href="#!loveLovePage">Why do we love love?</a>
				<a href="#!askChunksPage">Ask chunks</a>
			</div>
		</div>

		<!--Button directs user to the mochunks youtube channel-->
		<a href="https://www.youtube.com/user/TwigaayAndChunkaay" class="link" target="_blank">MochunksTV</a>

		<!--button directs user to mochunks contacts page-->
		<a href='#!contactPage' class="link">Contact Us</a>
		
	</div>
</nav>
