<nav class="navtop-1">

    <div>
        <a href="#/!"><h1>MoChunks.com</h1><p>Chunks of lifestyle, Fashion, Entertainment and Relationships</p></a>
    </div>

    <!--<form method="get">-->
        <!--<input type="text" placeholder="Search">-->
        <!--<i class="fa fa-search btn" type="submit"></i>-->
    <!--</form>-->

</nav>

<nav class="navtop-2">

    <div class="memo">
        <ul>
            <li><a href="https://www.facebook.com/mo.chunkaay" target="_blank" class="fa fa-facebook-square"></a></li>
            <li><a href="https://www.youtube.com/user/TwigaayAndChunkaay" target="_blank" class="fa fa-youtube-square"></a></li>
            <li><a href="mailto:ojomowa@yahoo.co.uk" target="_blank" class="fa fa-envelope"></a></li>
            <li><a href="https://www.instagram.com/mochunks/" target="_blank" class="fa fa-instagram"></a></li>
            <li><a href="https://twitter.com/mochunks?lang=en" target="_blank" class="fa fa-twitter-square"></a></li>
        </ul>
    </div>

    <div class="dropdown">
        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            lifestyle
            <span class="fa fa-angle-down"></span>
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
            <li><a href="#!chitChatPage">CCWC</a></li>
            <li><a href="#!askChunksPage">ask chunks</a></li>
            <li><a href="#!beingChunksPage">being chunks</a></li>
        </ul>
    </div>

    <div class="dropdown">
        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            fashion
            <span class="fa fa-angle-down"></span>
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
            <li><a href="#!inStylePage">In style</a></li>
            <li><a href="#!lookBookPage">look books</a></li>
        </ul>
    </div>

    <div class="dropdown">
        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu3" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            entertainment
            <span class="fa fa-angle-down"></span>
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenu3">
            <li><a href="#!trendingPage">whats trending</a></li>
            <li><a href="#!musicPage">This week in music</a></li>
        </ul>
    </div>

    <div class="dropdown">
        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu4" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            relationship
            <span class="fa fa-angle-down"></span>
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenu4">
            <li><a href="#!loveLovePage">why do we love love?</a></li>
            <li><a href="#!askChunksPage">ask chunks</a></li>
        </ul>
    </div>

    <!--Button directs user to the mochunks youtube channel-->
    <button class="btn btn-default which-btn"><a href="https://www.youtube.com/user/TwigaayAndChunkaay" target="_blank">mochunks tv</a></button>

    <!--button directs user to mochunks contacts page-->
    <button class="btn btn-default which-btn"><a href='#!contactPage'>Contact Us</a></button>

</nav>

