<div class="col-md-12">
    <h3>POPULAR POSTS</h3>
</div>

<div class="below-box">
    <div class="small-below">
        <div></div>
        <h5>Travel</h5>
        <h4>Article title</h4>
        <p>Date of post</p>
    </div>
    <div class="small-below">
        <div></div>
        <h5>Inspiration</h5>
        <h4>Article title</h4>
        <p>Date of post</p>
    </div>
    <div class="small-below">
        <div></div>
        <h5>Beauty</h5>
        <h4>Article title</h4>
        <p>Date of post</p>
    </div>
    <div class="small-below">
        <div></div>
        <h5>Fashion</h5>
        <h4>Article title</h4>
        <p>Date of post</p>
    </div>
    <div class="small-below">
        <div></div>
        <h5>Entertainment</h5>
        <h4>Article title</h4>
        <p>Date of post</p>
    </div>
    <div class="small-below">
        <div></div>
        <h5>Relationship</h5>
        <h4>Article title</h4>
        <p>Date of post</p>
    </div>
</div>