<p><span class="title-direct">Fashion</span> <i class="fa fa-long-arrow-right"></i> In Style</p>

<h1 class="lobster txt-center">Featured Content</h1>

<p class="txt-center">Get the latest fashion tips and outfit ideas. Click through runway and front row photos from
	fashion week shows in New York, London, Paris, and Milan. Plus, browse key accessories like bags, shoes, and
	sunglasses, must-have denim looks, and more top fashion trends.
</p>

<br>

<!-- Galleries that have been recommended-->
<ul class="wrapper grid">
	<li ng-repeat="gallery in vm.recommendedGalleries"><a href={{/gallery/gallery._id}}><img
			src="{{gallery.firstImage.secure_url}}" alt=""></a></li>
	<!--<li><a href="#!lookImage"><img src="images\andrew-neel-103247.jpg" alt=""></a></li>-->
	<!--<li><a href="#!lookVideo"><img src="images\sydney-jackson-310581.jpg" alt=""></a></li>-->
	<!--<li><a href="#!lookImage"><img src="images\mowaredjumper.jpg" alt=""></a></li>-->
	<!--<li><a href="#!lookImage"><img src="images\patrick-zacharias-340872.jpg" alt=""></a></li>-->
</ul>

<br>

<hr><br>

<h1 class="lobster text-center">Most Recent</h1>

<p class="txt-center">Get the latest fashion tips and outfit ideas. Click through runway and front row photos from
	fashion week shows in New York, London, Paris, and Milan. Plus, browse key accessories like bags, shoes, and
	sunglasses, must-have denim looks, and more top fashion trends.
</p>

<br>

<ul class="wrapper grid">
	<li ng-repeat="gallery in vm.galleries"><a href={{/gallery/gallery._id}}<img src="{{gallery.firstImage.secure_url}}"
											   alt="{{gallery.title}}"> </a></li>
	<!--<li><a href="#!lookImage"><img  src="images\mowaredjumper.jpg" alt=""></a></li>-->
	<!--<li><img src="images\patrick-zacharias-340872.jpg" alt=""></li>-->
	<!--<li class="landscape"><img  src="images\eye-for-ebony-341041.jpg" alt=""></li>-->
	<!--<li><img src="images\paige-muller-343288.jpg" alt=""></li>-->
	<!--<li class="landscape"><img src="images\darko-mitev-263352.jpg" alt=""></li>-->
	<!--<li><img src="images\pete-bellis-262617.jpg" alt=""></li>-->
	<!--<li><img src="images\sydney-jackson-310581.jpg" alt=""></li>-->
	<!--<li><img src="images\stas-svechnikov-32399.jpg" alt=""></li>-->
	<!--<li><img src="images\lex-phil-318301.jpg" alt=""></li>-->
	<!--<li class="landscape"><img src="images\timothy-paul-smith-343287.jpg" alt=""></li>-->
	<!--<li><img src="images\andrew-neel-103247.jpg" alt=""></li>-->
	<!--<li><img src="images\sydney-jackson-310581.jpg" alt=""></li>-->
</ul>

