@media screen and (min-width: 320px) {
	.webpisodes-list {
		height: 450px;
		overflow: auto;
		padding: 0 15px 20px;
		border: 1px solid #333;
	}
}

@media screen and (min-width: 768px) {
	.webpisodes-list {
		border: none;
		padding: 0 1.5vw;
		height: 420px;
	}
}

@media screen and (min-width: 1024px) {
	.webpisodes-list {
		padding: 0;
	}
}

.webpisodes-list h3 {
	color: #999;
	padding: 0 0 10px 0;
}

.webpisodes-list p {
	color: #aaa;
}

.webpisodes-list a i {
	position: absolute;
	z-index: 2;
	font-size: 2em;
	background: rgb(104, 5, 104);
	color: #fff;
	padding: 10px 15px;
}

.webpisodes-list a:hover i {
	color: #f7f7f7;
}

.main-episode {
	height: 170px;
	background: #ccc;
}

.main-episode col-sm-4 {
	background: #333;
}

.webpisodes-img {
	position: relative;
	z-index: 1;
	width: 100%;
}

.webpisodes-sub i {
	font-size: 1em !important;
	padding: 5px !important;
}
