<div class="float-list">
    <h3>Latest Webisodes</h3>
    <div class="main-episode">

    </div>
    <h4>Title of the video</h4>
    <p>Short description about the video, movie or whatever this is gonnna be </p>
    <hr>
    <div class="row sub-episode">
        <div class="col-sm-4">

        </div>
        <div class="col-sm-8">
            <button class="fa fa-caret-right fa-2x" ></button>
            <h5>Title of the video</h5>
            <p>Subject video covers</p>
        </div>

        <hr>

        <div class="col-sm-4">

        </div>
        <div class="col-sm-8">
            <button class="fa fa-caret-right fa-2x" ></button>
            <h5>Title of the video</h5>
            <p>Subject video covers</p>
        </div>

        <hr>

        <div class="col-sm-4">

        </div>
        <div class="col-sm-8">
            <button class="fa fa-caret-right fa-2x" ></button>
            <h5>Title of the video</h5>
            <p>Subject video covers</p>
        </div>

        <hr>

        <button class="check-more">Check out more</button>

    </div>
</div>
