<div class="row">

	<div class="artiview col-sm-9">

		<!-- Repeat articles-->
		<div ng-repeat="article in vm.articles">
			<a href="/#!/article/view/{{article._id}}">
				<!-- Title-->
				<h2>{{article.title}}</h2>
				<!--date of post-->
				<p>{{article.publishedDate | date: 'MM/dd/yyyy'}}</p>
				<!-- Image-->
				<div class="might-l col-sm-9">
					<a href="/#!/article/view/{{article._id}}">
						<img src={{article.firstArticleImage.secure_url}}>
					</a>
				</div>
				<div class="might-l col-sm-3">
					<a href="/#!/article/view/{{article._id}}">
						<img class="avid-xs" src={{article.secondArticleImage.secure_url}}>
						<img class="avid-xs" src={{article.thirdArticleImage.secure_url}}>
					</a>
				</div>
				<!-- Quick description-->
				<p>{{article.description}}</p>
				<!--Button to view full article-->

				<hr>
				<br>
			</a>
		</div>

		<!-- Only show more articles if next page object evaluates to true-->
		<button ng-if="vm.page" ng-click="vm.loadMoreArticles()">Check out more</button>

		<div class="col-sm-8 col-xs-12">
			<h3>Article Listing</h3>

			<div class="left-listing">

				<articles></articles>

			</div>

		</div>

		<br><br>

		<div class="sub-article-list row hidden-xs">

			<sub-article-list></sub-article-list>

		</div>


	</div>


	<div class="col-sm-3 right-listing">

		<p class="ads">Advertisement</p>

		<advert></advert>

	</div>

</div>
