<div class="eventcide-advert">
    <h5>Browse events</h5>
    <form id="float-search">
        <input type="text" placeholder="Search" />
        <button type="submit"><i class="fa fa-search"></i></button>
    </form>
    <br>
    <button class="eventcide-find"><i class="fa fa-star " aria-hidden="true"><span>Recommended</span></i></button><br>
    <button class="eventcide-find"><i class="fa fa-fire " aria-hidden="true"><span>Popular</span></i></button>
    <div class="dropdown">
        <button class="dropwdown-toggle eventcide-find" data-toggle="dropdown"><i class="fa fa-compass "  aria-hidden="true"><span>Discover</span></i></button>
        <ul class="dropdown-menu">
            <li><button>Today</button></li>
            <li><button>Tomorrow</button></li>
            <li><button>This Weekend</button></li>
        </ul>
    </div>
    <div class="dropdown">
        <button class="dropwdown-toggle eventcide-find" data-toggle="dropdown"><i class="fa fa-th-large"  aria-hidden="true"><span>Category</span></i></button>
        <ul class="dropdown-menu">
            <li><button>Nightlife</button></li>
            <li><button>Festivals</button></li>
            <li><button>Concerts</button></li>
            <li><button>Culture</button></li>
        </ul>
    </div>
    <br>
    <p>Sign up now to see event<br>match and recommendations.</p>
    <button class="cide-signup">Sign up</button>
</div>