<div class="content row">

	<br>

	<div class="col-sm-8 hidden-xs hidden-sm">
		<img src="..\..\images\mowaredjumper.jpg" alt="">
	</div>

	<br>

	<div class="col-sm-4">
		<div class="row">
			<h2 style="color:rgb(104, 5, 104)">For business enquires:</h2>
			<p>mochunkstv@gmail.com</p>
		</div>

		<div class="row">
			<h2 style="color:rgb(104, 5, 104)">Services:</h2>
			<ul>
				<li>Hosting by MoChunks</li>
				<li>Event coverage by MoChunks TV</li>
				<li>Speaking services by MoChunks</li>
				<li>Interview conduction by MoChunks</li>
			</ul>
		</div>

		<div class="row">
			<br>
			<div class="contact">
				<form class="contact-form">
					<h2 style="color:rgb(104, 5, 104)">Contact Us</h2>
					<hr>
					<input type="text" placeholder="*Fashion, Clothes, etc" ng-model="vm.message.subject">
					<textarea type="text" placeholder="*How can we help?" required ng-model="vm.message.message"></textarea>
					<div>
						<input type="text" placeholder="First Name" ng-model="vm.message.firstname">
						<input type="text" placeholder="Last Name" ng-model="vm.message.lastname">
					</div>
					<input type="email" placeholder="*name@example.com" required ng-model="vm.message.email">
					<input type="number" placeholder="Phone Number" ng-model="vm.message.phonenumber">
					<br>
					<button class="button-it" type="submit" ng-click="vm.sendContactUsEmail()">Send</button>
				</form>
			</div>
		</div>
		<hr>
	</div>

</div>
